/* ProjectsStack.css */

.stack {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateZ(-50px);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "stack";
    perspective: 5000;
    overflow: hidden;
    z-index: 999;
    background: rgba(169, 169, 169, 0.8);
    transition: transform 2s ease;
  }
  
  .stack.exploded {
    transform: translate(-50%, -50%) translateZ(0);
  }
  
  .stack .card {
    display: none;
  }
  
  .stack.exploded .card {
    display: block;
  }
  
  .stack:before {
    content: "";
    position: fixed;
    inset: 0;
    background: lch(95 0 0);
    transition: background 2s ease;
    pointer-events: none;
  }
  
  .stack.exploded:before,
  .stack:active:before {
    background: lch(15 0 0);
  }
  
  .stack.exploded .card,
  .stack:active .card {
    --bg-opacity: 5%;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
    transform: translateZ(var(--z-offset)) translateY(20vh) translateX(20vh);
  }
  
  .stack.exploded .card:nth-child(1) {
    --z-offset: 75vh;
    transition-delay: 1.5s;
  }
  
  .stack.exploded .card:nth-child(2) {
    --z-offset: 50vh;
    transition-delay: 1.7s;
  }
  
  .stack.exploded .card:nth-child(3) {
    --z-offset: 25vh;
    transition-delay: 1.9s;
  }
  
  .stack.exploded .card:nth-child(4) {
    --z-offset: 0vh;
    transition-delay: 2.1s;
  }
  
  .stack.exploded .card:nth-child(5) {
    --z-offset: -25vh;
    transition-delay: 2.3s;
  }
  
  .stack.exploded .card:after {
    opacity: 1;
    transform: rotate(-45deg) rotateY(45deg) translateX(0px);
  }
  
  .stack.exploded .card.content {
    background: transparent;
    color: white;
    border-color: transparent;
    transition: border-color 1s cubic-bezier(0.85, 0, 0.15, 1) 0s,
      background-color 1s cubic-bezier(0.85, 0, 0.15, 1) 0s,
      color 1s cubic-bezier(0.85, 0, 0.15, 1) 0s,
      transform 2s cubic-bezier(0.85, 0, 0.15, 1) 0s;
  }
  
  .stack.exploded .card.padding {
    transition-delay: 0.1s;
  }
  
  .stack.exploded .card.border {
    transition-delay: 0.2s;
  }
  
  .stack.exploded .card.background {
    background: white;
    transition: background-color 2s cubic-bezier(0.85, 0, 0.15, 1) 0.3s,
      transform 2s cubic-bezier(0.85, 0, 0.15, 1) 0.2s;
  }
  
  .stack.exploded .card.box-shadow {
    transition-delay: 0.4s;
    box-shadow: 0 -1px 25px rgba(0, 0, 0, 0.4),
      0 7.6px 6.1px rgba(0, 0, 0, 0.051),
      0 14.3px 11.5px rgba(0, 0, 0, 0.059),
      0 25.5px 20.5px rgba(0, 0, 0, 0.07),
      0 47.6px 38.4px rgba(0, 0, 0, 0.094),
      0 114px 92px rgba(0, 0, 0, 0.19);
  }
  
  .card {
    grid-area: stack;
    --z-offset: 0;
    --bg-opacity: 0%;
    transition: transform 4s ease;
    inline-size: 40vmin;
    block-size: 40vmin;
    box-sizing: border-box;
    color: white;
    box-sizing: border-box;
    background: lch(100 0 0 / 5%);
    position: relative;
  }
  
  @media (orientation: landscape) {
    .card {
      inline-size: 40vh;
      block-size: 40vh;
    }
  }
  
  @media (max-width: 540px) {
    .card {
      inline-size: 60vw;
      block-size: 60vw;
    }
  }
  
  .card:nth-child(1) {
    z-index: 3;
  }
  
  .card:nth-child(2) {
    z-index: 2;
  }
  
  .card:after {
    content: "Box";
    position: absolute;
    left: -45%;
    top: 110%;
    font-size: 1.25rem;
    text-shadow: 0 1px 3px lch(0 0 0 / 75%);
    white-space: nowrap;
    padding: 1ch 2ch;
    border-radius: 4ch;
    opacity: 0;
    transition: opacity 0.5s ease 0s, transform 0.5s ease;
    transform: rotate(-45deg) rotateY(45deg) translateX(20px);
    background: lch(0 0 0 / 70%);
  }
  
  .card.content {
    z-index: 5;
    transition: border-color 4s ease, background-color 5s ease 2s,
      color 4s ease 0s, transform 4s ease 0s;
    padding: 5vmin;
    font-size: max(2.5vmin, 0.9rem);
    line-height: 1.5;
    background: lch(100 0 0);
    border: 5px solid hotpink;
    color: black;
  }
  
  .card.content:after {
    content: "Content Box";
    left: -50%;
  }
  
  .card.padding {
    background: transparent;
    z-index: 4;
    transition-delay: 0.1s;
  }
  
  .card.padding:after {
    content: "Padding Box";
  }
  
  .card.padding:before {
    content: "";
    position: absolute;
    inset: 0;
    clip-path: polygon(
      0% 0%,
      0% 100%,
      5vmin 100%,
      5vmin 5vmin,
      calc(100% - 5vmin) 5vmin,
      calc(100% - 5vmin) calc(100% - 5vmin),
      5vmin calc(100% - 5vmin),
      5vmin 100%,
      100% 100%,
      100% 0%
    );
    background: repeating-linear-gradient(
      -45deg,
      cyan,
      cyan 1px,
      lch(100 0 0 / 5%) 1px,
      lch(100 0 0 / 5%) 10px
    );
  }
  
  .card.border {
    z-index: 3;
    background: transparent;
    transition-delay: 0.2s;
  }
  
  .card.border:after {
    content: "Border Box";
  }
  
  .card.border:before {
    content: "";
    position: absolute;
    inset: 0;
    clip-path: polygon(
      0% 0%,
      0% 100%,
      5px 100%,
      5px 5px,
      calc(100% - 5px) 5px,
      calc(100% - 5px) calc(100% - 5px),
      5px calc(100% - 5px),
      5px 100%,
      100% 100%,
      100% 0%
    );
    background: linear-gradient(hotpink, hotpink);
  }
  
  .card.background {
    z-index: 2;
    transition: background-color 4s ease 0.3s,
      transform 4s ease 0.3s;
  }
  
  .card.background:after {
    content: "Background Box";
  }
  
  .card.box-shadow {
    z-index: 1;
    background: transparent;
    transition: box-shadow 4s ease 0.4s,
      transform 4s ease 0.4s;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
      0 6.7px 5.3px rgba(0, 0, 0, 0.028),
      0 12.5px 10px rgba(0, 0, 0, 0.035),
      0 22.3px 17.9px rgba(0, 0, 0, 0.042),
      0 41.8px 33.4px rgba(0, 0, 0, 0.05),
      0 100px 80px rgba(0, 0, 0, 0.07);
  }
  
  .card.box-shadow:after {
    content: "Shadow Box";
  }
  
  body {
    min-block-size: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui;
    background: lch(30 0 0);
  }
  
  p:first-of-type {
    margin-block-start: 0;
  }
  
  @media (hover: hover) {
    #mobile-prompt {
      display: none;
    }
  }
  
  @media (hover: none) {
    #desktop-prompt {
      display: none;
    }
  }
  