/* Resume.css */
@import '~@fortawesome/fontawesome-free/css/all.css';

.resume {
    max-width: 10000px;
    height: 950px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-image: url('https://cdn.wallpapersafari.com/32/67/uNnmEU.jpg'); /* Add the path to your background image */
    background-size: cover;
    background-position: center;
    color: #fff; /* Set text color to white for better visibility on the background */
  }
  
  .resume-item {
    display: flex;
    align-items: flex-start; /* Align items to the start (left) */
    margin-bottom: 20px;
  }
  
  .resume-item i {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .resume-info {
    flex-grow: 1;
  }
  
  .skills {
    display: flex;
    flex-wrap: wrap;
  }
  
  .skill {
    width: calc(33.333% - 20px);
    margin: 10px;
    text-align: center;
  }
  
  .skill-bar {
    background-color: #3498db;
    height: 10px;
    margin-top: 5px;
  }
  